**/Gemfile.lock
**/_site/** 
**.bat
**/__pycache__/**
**/.terraform/**
**/.env
**/.terraform.lock.hcl
ml_engine/**
**/*.zip
**/*.tfstate
**/*.tfstate.*
scratch/**
node_modules/
**/node_modules/
**/.jekyll-cache/
**/.env.local
**/.env*.local
**/_config.local.yml
**/*_config.local.yml
*.local.yml